.page-header {
  width: 100%;
  text-align: center;
  .title {
    color: #05a1ac;
    font-size: 70px;
    font-weight: 700;
    text-shadow: 3px 3px rgb(247, 71, 106);
    text-transform: uppercase;
  }
  .subtitle {
    color: rgb(223, 55, 91);
    font-size: 30px;
    font-weight: 900;
    text-shadow: 3px 3px #faf9c5;
    text-transform: uppercase;
  }
  .devider {
    border-bottom: 4px solid rgba(14, 66, 66, 0.555);
    height: 1px;
    margin: 20px auto;
    width: 60%;
  }
}
